html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF MEYERS RESET */

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr repeat(6, minmax(auto, 10em)) 1fr;
  grid-template-rows: minmax(2.5em, auto) 1fr auto minmax(2em, auto);
}

.banner {
  background: black;
  color: white;
  grid-column: span 8;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.banner h1 {
  font-size: 26px;
}

.banner button {
  border: none;
  background: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.buttons {
  width: 32vw;
  display: flex;
  justify-content: space-evenly;
}

.filter-bar {
  /* position: fixed;
  top: 4rem;
  left: 4rem; */
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4rem;
}

.filter-bar h2 {
  font-size: 20px;
  margin: 1rem;
  text-decoration: underline;
}

.filter-bar button {
  margin: 0.4rem;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.shoe-container {
  grid-column-start: 2;
  grid-column-end: 8;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.shoe-card {
  width: 25em;
  height: 9em;
  font-size: 14px;
  margin: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: lightgrey 1px solid;
  border-radius: 6px;
  box-shadow: 3px 3px 3px lightgrey;
}

.shoe-card img {
  margin: 0.5rem;
  width: 10.5em;
  height: 7.5em;
}

.card-info {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: rgb(24, 22, 22);
  margin-top: 1rem;
  font-weight: 700;
  font-size: 16px;
}

.price {
  color: orangered;
}

.brand {
  margin: 0.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 10px;
  color: grey;
}

.maybe-button {
  outline: none;
  position: relative;
  right: 1rem;
  top: 1rem;
  font-size: 20px;
  color: white;
  background: orangered;
  border: none;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.shoe-card:hover button {
  opacity: 1;
}

.maybe-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.diagonal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: grey;
  width: 100%;
  height: 15%;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 40%);
}

.diagonal h2 {
  margin: 0.5em 0.5em 0 0;
  color: white;
  font-size: 30px;
}

.diagonal p {
  font-size: 14px;
  color: white;
  margin: 0 1em 0 0;
}

.maybe-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 17em;
}

.maybe-card img {
  margin-bottom: 0.5rem;
  width: 10.5em;
  height: 7.5em;
}

.maybe-card button {
  font-weight: 700;
  font-size: 22px;
  color: orangered;
  width: 85%;
  text-align: right;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.maybe-card:hover button {
  opacity: 1;
}

.select {
  width: 100%;
  background: lightgrey;
  display: flex;
  justify-content: center;
}

.select:hover {
  background: orangered;
}

.select button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  width: 100%;
}

.select-page {
  height: 90%;
  grid-column-start: 2;
  grid-column-end: 8;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.select-options {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-bottom: 1.5px solid grey;
}

.select-options p {
  font-size: 20px;
  margin-bottom: 1rem;
}

.select-option img {
  width: 7em;
  height: 5em;
  cursor: pointer;
}

.select-view {
  height: 100%;
}

.current-view {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.current-view section {
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.current-view section h2 {
  font-size: 25px;
  color: black;
  margin-left: 1rem;
}

.current-view-info-box {
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:100%;
  height:50%;
}

.current-view button {
  outline: none;
  background: none; 
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.current-view-info li {
  font-size: 14px;
  margin: 1rem;
}

.current-view img {
  width: 31.5em;
  height: 22.5em;
}

.footer {
  background: black;
  grid-row-start: 4;
  grid-column: span 8;
  color: white;
  display: flex;
}

.footer button {
  cursor: pointer;
  outline: none;
  background: none;
  color: lightgrey;
  border: none;
  text-decoration: underline;
  margin-right: 3rem;
}
